{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Index</title>
</head>
<body>
    {% include 'titulo.html'%}
    {% for estudiante in estudiantes %}
        <h2>{{ estudiante.nombre|upper }}</h2>
        <h3>Cursos realizados</h3>
        {% if estudiante.cursos %}
            {% for curso in estudiante.cursos %}
                <h3>{{ curso.titulo }} ------ {{ curso.descripcion }}</h3>                
            {% endfor %}
            <hr>
        {% else %}
            <h3>No tiene cursos realizados</h3>
            <hr>
        {% endif %}
        
        
    {% endfor %}
</body>
</html>